*{
    margin: 0%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  li {
    float: left;
    
  }
  
  li a {
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: rgba(255, 255, 255, 0.358);
    box-shadow: 2px 1px 11px 4px rgba(255, 255, 255, 0.15);
    
  }

